.tag {
  min-width: auto;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  display: flex;
  justify-content: center;
}

.tag>p {
  padding: 5px;
  overflow: hidden;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  display: block;
  padding-left: 0.5em;
  padding-right:1.5em;
}

.marginRight{
  padding-left: 0.5em;
  padding-right:0.5em;
}

.hideTags {
  max-height: 32px;
  overflow: hidden;
}

.hideLgTags {
  max-height: 70px;
  overflow: hidden;
}

.fontColor {
  color: var(--title);
}

.containerTags{
  margin-bottom: 0.5em;
}
