html[data-theme="light"] {
  --background: #FFFFFE;
  --text: #0F0A0B;
  --paragraph: #6c757d;
  --primary: #F93943;
  --secondary: #F6AE6A;
  --accent: #FFDA05;
  --shadow: #e9ecef;
}

html[data-theme="dark"] {
  --background: #000000;
  --text: #F5F0F1;
  --paragraph: #a7a9be;
  --primary: #C60610;
  --secondary: #954D09;
  --accent: #FAD400;
  --shadow: #202020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

#button-without-animation {
  background: inherit;
  cursor: default;
}

#main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 85px;
  min-height: 95vh;
}
