.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.subItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
