.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.25rem;
  padding-left: 2em;
  padding-right: 2em;
  bottom: 0;
}

.leftContent {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 900;
  cursor: default;
}

.copyRight {
  cursor: default;
}
