.image {
  width: 100%;
  object-fit: contain;
}

.container {
  width: 100%;
}

.modalContainer {
  width: 80vw;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 500;
}

.section {
  margin-left: 1em;
  padding-top: 1em;
}

#lgModalBody{
  margin:0em 0em 0em 0em;
  padding-inline-start:0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  overflow: hidden;
}

#lgModalBody>ul{
  margin:0em 0.5em 1em 0.5em;
  padding-right: 5px;
}

#modalBody{
  margin:0em 1em 0em 0em;
  padding-inline-start:0px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}