.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  cursor: default;
}

#title {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

#description {
  color: var(--paragraph);
  text-align: center;
  padding: 0em 1em 0em 1em;
}

.loginButton {
  width: 40%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.rotate25 {
  transform: rotate(-25deg);
  left: 170px;
}

.rotate15 {
  left: -100px;
  transform: rotate(15deg);
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.contentLg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 1em 1em 1em 1em;
  padding-bottom: 1em;
}

.buttons {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.buttons > button {
  margin-bottom: 2em;
}

.buttons > p {
  margin-bottom: 2em;
}

.container {
  min-height: 100vh;
}

.themeButton {
  position: absolute;
  top: 15px;
  right: 15px;
}